---
doc_id: "apex_connectapi_input_order_summary_verification"
---

# ConnectApi.OrderSummaryVerificationInput

Order summary verification input.

| Property | Type | Description | Required or Optional | Available Version |
| --- | --- | --- | --- | --- |
| `email` | String | Guest shopper or registered buyer’s email address. | Optional | 58.0 |
| `lastName` | String | Guest shopper or registered buyer’s last name. | Optional | 58.0 |
| `phoneNumber` | String | Guest shopper or registered buyer’s phone number. | Optional | 58.0 |
